@model Database.Implements.BouquetLogic
@{ ViewData["Title"] = "Имя букета"; }

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/bouquetName.css" />
</head>
<body>
    @using (Html.BeginForm("CreateBouquet", "Bouquet", FormMethod.Get))
    {
        
    <div class="containerName">
        <h2>Название букета</h2>
        <p>Название:</p>
        <input class="input1" type="text" name="BouquetName" required /><br />
        <br />
        <button type="submit" class="btn1">Далее</button>
    </div>
     }
    </body>
</html>
