@model FloewShopClientView.Models.ChangePasswordModel

@{
    ViewData["Title"] = "Изменение пароля";
}
<link rel="stylesheet" href="~/css/changepass.css" />
@using (Html.BeginForm("ChangePassword", "Client"))
{
    <div class="containerPass">
        <h2>Изменение пароля</h2>
        <p>
            Старый пароль:<br>
            @Html.EditorFor(x => x.OldPassword, new
       {
           htmlAttributes = new { @class = "input1" }
       })
            <span asp-validation-for="OldPassword"></span><br>

        </p>
        <p>
            Новый пароль:<br>
            @Html.EditorFor(x => x.NewPassword, new
       {
           htmlAttributes = new { @class = "input2" }
       })
            <span asp-validation-for="NewPassword"></span><br>
        </p>
        @Html.ValidationSummary(true, "", new { @style = "color: black" })
        <input type="submit" value="Изменить" class="btn1" />
    </div>
}
