@model FloewShopClientView.Models.EmailModel
@{
    ViewData["Title"] = "Вспомнить пароль";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/forgott.css" />
</head>
<body>
    @using (Html.BeginForm("ForgotPassword", "Email"))
    {
        
        <div class="containerForgot">
            <h2>Вспомнить пароль</h2> <br />
            Почта:<br>
            @Html.EditorFor(x => x.mail,new
       {
           htmlAttributes = new { @class = "inputmail" }
       })<br>
            <span asp-validation-for="mail"></span>
            <br />
            @Html.ValidationSummary(true, "", new { @style = "color: black" })
            @{ if (ViewBag.Id == 1)
                {

                    <button class="btn1" asp-area="" asp-controller="Client" asp-action="Login">Войти</button>
                }
                else
                {
                    <input type="submit" value="Отправить сообщение на почту" class="btn1" />
                }
            }
        </div>
    }
</body>
</html>
