.input1 {
    background: #FFFFFF;
    border: 1px solid #17040B;
    border-radius: 30px;
    width: 300px;
    height: 33px;
}

.input2 {
    background: #FFFFFF;
    border: 1px solid #17040B;
    border-radius: 30px;
    width: 300px;
    height: 33px;
}
